credentials.json
credentials/
.null.swp

node_modules/

.expo/
dist/
web-build/

*.apk
*.aab
*.ipa
expo-env.d.ts
/android
/ios

.eas/*
!.eas/workflows/

*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

.metro-health-check*

npm-debug.*
yarn-debug.*
yarn-error.*

.DS_Store
*.pem

.idea/
.vscode/
*.swp
*.swo

.env*.local
.env

*.tsbuildinfo

coverage/
coverage-*/

*.bak*

CLAUDE.md
.claude

local/
